[
	{
        "name": "golang.org",
        "protocol": "https",
		"keywords": ["word1", "word2"],
		"ping": false,
		"http": true,
		"httpResponse": 200,
		"ports": [22, 80]
	},
	{
        "name": "костић.срб",
        "protocol": "https",
		"keywords": ["реч1", "реч2"],
		"ping": true,
		"http": true,
		"httpResponse": 200,
		"ports": [80, 443]
    }
]